// These must come before the imports to set the right theme colors.
$background: var(--vscode-editor-background, #aaaaaa);
$foreground: var(--vscode-editor-foreground, #EEFFEE);
$background-button: var(--vscode-button-background, #337733);
$foreground-button: var(--vscode-button-foreground, #EEFFEE);
$primary: $background-button;
$on-primary: $foreground-button;
$secondary: var(--vscode-editor-selectionBackground, #774400);
$on-secondary: var(--vscode-editor-selectionForeground, #EEFFEE);
$color: $foreground;

:root {
  // RIGHT, will work in all Sass versions.
  --cspell-foreground: #{$foreground};
  --cspell-background: #{$background};
  --cspell-primary: #{$primary};
  --cspell-on-primary: #{$on-primary};
  --cspell-secondary: #{$secondary};
  --cspell-on-secondary: #{$on-secondary};
}

body {
  color: var(--cspell-foreground);
  background-color: var(--cspell-background);
  font-family: var(--vscode-editor-font-family, -apple-system, system-ui, sans-serif);
}

// .mdc-checkbox {
//   @include mdc-checkbox-ink-color($foreground-button);
//   @include mdc-checkbox-focus-indicator-color($background-button);
//   @include mdc-checkbox-container-colors($background-button, $background-button, $background-button, $background-button, true);
// }

// .mdc-button {
//   @include mdc-button-ink-color($foreground-button);
//   @include mdc-button-container-fill-color($background-button);
// }

// .mdc-tab {
//   /*
//     VS Code tab properties
//     --vscode-tab-activeBackground:#f5f5f5;
//     --vscode-tab-activeForeground:#333333;
//     --vscode-tab-activeModifiedBorder:#33aaee;
//     --vscode-tab-border:#f3f3f3;
//     --vscode-tab-inactiveBackground:#ececec;
//     --vscode-tab-inactiveForeground:rgba(51, 51, 51, 0.7);
//     --vscode-tab-inactiveModifiedBorder:rgba(51, 170, 238, 0.5);
//     --vscode-tab-unfocusedActiveForeground:rgba(51, 51, 51, 0.7);
//     --vscode-tab-unfocusedActiveModifiedBorder:rgba(51, 170, 238, 0.7);
//     --vscode-tab-unfocusedInactiveForeground:rgba(51, 51, 51, 0.35);
//     --vscode-tab-unfocusedInactiveModifiedBorder:rgba(51, 170, 238, 0.25);
//   */

//   /*
//     mdc-tab-text-label-color($color)	Customizes the color of the tab text label.
//     mdc-tab-icon-color($color)	Customizes the color of the tab icon.
//     mdc-tab-states-color($color)	Customizes the base states color, which affects hover/focus states and the press ripple.
//     mdc-tab-ink-color($color)	Customizes the text label, icon, and base states color.
//     mdc-tab-active-text-label-color($color)	Customizes the color of the active tab's text label.
//     mdc-tab-active-icon-color($color)	Customizes the color of the active tab's icon.
//     mdc-tab-parent-positioning	Sets the positioning of the MDCTab's parent element so that MDCTab.computeDimensions() reports the same values in all browsers.
//     mdc-tab-fixed-width($width)	Sets the fixed width of the tab. The tab will never be smaller than the given width.
//   */

//   @include mdc-tab-text-label-color(var(--vscode-tab-inactiveForeground, $foreground));

//   .mdc-tab-indicator {
//     @include mdc-tab-indicator-underline-color(var(--vscode-tab-activeModifiedBorder, yellow));
//   }

//   /*
//   @include mdc-tab-active-text-label-color(var(--vscode-tab-activeForeground, $foreground));
//   */
//   &.mdc-tab--active {
//     @include mdc-tab-text-label-color(var(--vscode-tab-activeForeground, $foreground));
//   }
//   font-size: 0.75rem;
// }

// .mdc-list {
//   /*
//   VS Code list properties:
//   --vscode-list-activeSelectionBackground:#c4d9b1;
//   --vscode-list-activeSelectionForeground:#6c6c6c;
//   --vscode-list-dropBackground:#cadeb9;
//   --vscode-list-errorForeground:#b01011;
//   --vscode-list-focusBackground:#cadeb9;
//   --vscode-list-highlightForeground:#9769dc;
//   --vscode-list-hoverBackground:#e0e0e0;
//   --vscode-list-inactiveFocusBackground:#d8dae6;
//   --vscode-list-inactiveSelectionBackground:#d3dbcd;
//   --vscode-list-invalidItemForeground:#b89500;
//   --vscode-list-warningForeground:#117711;

//   --vscode-editor-background:#f5f5f5;
//   --vscode-editor-findMatchBackground:#bf9cac;
//   --vscode-editor-findMatchHighlightBackground:#edc9d8;
//   --vscode-editor-findRangeHighlightBackground:rgba(180, 180, 180, 0.3);
//   --vscode-editor-focusedStackFrameHighlightBackground:rgba(206, 231, 206, 0.45);
//   --vscode-editor-font-family:-apple-system, system-ui, sans-serif;
//   --vscode-editor-font-size:13px;
//   --vscode-editor-font-weight:400;
//   --vscode-editor-foreground:#333333;
//   --vscode-editor-hoverHighlightBackground:rgba(173, 214, 255, 0.15);
//   --vscode-editor-inactiveSelectionBackground:rgba(201, 208, 217, 0.5);
//   --vscode-editor-lineHighlightBackground:#e4f6d4;
//   --vscode-editor-lineHighlightBorder:#eeeeee;
//   --vscode-editor-rangeHighlightBackground:rgba(253, 255, 0, 0.2);
//   --vscode-editor-selectionBackground:#c9d0d9;
//   --vscode-editor-selectionHighlightBackground:rgba(224, 228, 234, 0.6);
//   --vscode-editor-snippetFinalTabstopHighlightBorder:rgba(10, 50, 100, 0.5);
//   --vscode-editor-snippetTabstopHighlightBackground:rgba(10, 50, 100, 0.2);
//   --vscode-editor-stackFrameHighlightBackground:rgba(255, 255, 102, 0.45);
//   --vscode-editor-wordHighlightBackground:rgba(87, 87, 87, 0.25);
//   --vscode-editor-wordHighlightStrongBackground:rgba(14, 99, 156, 0.25);
//   */

//   /*
//   mdc-list-item-primary-text-ink-color($color)	Sets the ink color of the primary text of the list item.
//   mdc-list-item-secondary-text-ink-color($color)	Sets the ink color of the secondary text of the list item.
//   mdc-list-item-graphic-fill-color($color)	Sets background ink color of the graphic element within list item.
//   mdc-list-item-graphic-ink-color($color)	Sets ink color of the graphic element within list item.
//   mdc-list-item-meta-ink-color($color)	Sets ink color of the meta element within list item.
//   mdc-list-item-shape-radius($radius, $rtl-reflexive)	Sets the rounded shape to list item with given radius size. Set $rtl-reflexive to true to flip radius values in RTL context, defaults to false.
//   mdc-list-divider-color($color)	Sets divider ink color.
//   mdc-list-group-subheader-ink-color($color)	Sets ink color of sub-header text within list group.
//   */

//   $primaryListColor: var(--vscode-editor-foreground, $foreground);
//   $secondaryListColor: var(--vscode-foreground, transparentize($defaultForeground, 0.25));

//   background-color: var(--vscode-editor-background, inherit);
//   @include mdc-list-item-primary-text-ink-color($primaryListColor);
//   @include mdc-list-item-secondary-text-ink-color($secondaryListColor);
//   @include mdc-list-item-graphic-ink-color($primaryListColor);
//   @include mdc-list-item-meta-ink-color($secondaryListColor);
// }

// .mdc-select {
//   @include mdc-select-ink-color(var(--vscode-input-foreground, $mdc-theme-on-secondary));
//   @include mdc-select-container-fill-color(var(--vscode-input-background, $mdc-theme-secondary));
//   @include mdc-select-label-color(var(--vscode-input-foreground, $mdc-theme-on-secondary));
//   @include mdc-select-outline-color(var(--vscode-input-border, var(--vscode-dropdown-border, $mdc-theme-on-secondary)));
// }
