// These must come before the imports to set the right theme colors.
$mdc-theme-primary: rgb(16, 78, 16);
$mdc-theme-secondary: #af6c13;
$mdc-theme-on-primary: #f3f0ec;
$mdc-theme-on-secondary: #e2e7e2;

$defaultForeground: $mdc-theme-on-primary;

$foreground: var(--vscode-editor-foreground, $mdc-theme-on-primary);
$background: var(--vscode-editor-background, $mdc-theme-primary);
$foreground-button: var(--vscode-button-foreground, $mdc-theme-on-secondary);
$background-button: var(--vscode-button-background, $mdc-theme-secondary);

$primaryListColor: var(--vscode-list-activeSelectionForeground, $foreground);
$secondaryListColor: var(--vscode-list-inactiveSelectionForeground, transparentize($defaultForeground, 0.25));

@import '@material/button/mdc-button';
@import '@material/drawer/mdc-drawer';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/list/mdc-list';
@import '@material/react-button/index.scss';
@import '@material/react-checkbox/index.scss';
@import '@material/react-drawer/index.scss';
@import '@material/react-layout-grid/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-select/index.scss';
@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab-indicator/index.scss';
@import '@material/react-tab-scroller/index.scss';
@import '@material/react-tab/index.scss';
@import '@material/select/mdc-select';
@import '@material/tab-bar/mdc-tab-bar';
@import '@material/tab-indicator/mdc-tab-indicator';
@import '@material/tab-scroller/mdc-tab-scroller';
@import '@material/tab/mdc-tab';

@import './mld/material-icons.css';

body {
  color: $foreground;
  background-color: $background;
}

.mdc-checkbox {
  @include mdc-checkbox-ink-color($foreground-button);
  @include mdc-checkbox-focus-indicator-color($background-button);
  @include mdc-checkbox-container-colors($background-button, $background-button, $background-button, $background-button, true);
}

.mdc-button {
  @include mdc-button-ink-color($foreground-button);
  @include mdc-button-container-fill-color($background-button);
}

.mdc-tab {
  @include mdc-tab-text-label-color(var(--vscode-tab-inactiveForeground, $foreground));

  // .mdc-tab-indicator {
  //   @include mdc-tab-indicator-underline-color(yellow);
  // }

  &.mdc-tab--active {
    @include mdc-tab-text-label-color(var(--vscode-tab-activeForeground, $foreground));
  }

}

.mdc-list {
  @include mdc-list-item-primary-text-ink-color($primaryListColor);
  @include mdc-list-item-secondary-text-ink-color($secondaryListColor);
  @include mdc-list-item-graphic-ink-color($primaryListColor);
  @include mdc-list-item-meta-ink-color($secondaryListColor);
}

.mdc-select {
  @include mdc-select-ink-color($primaryListColor);
  @include mdc-select-container-fill-color($background);
}

.panel {
  display: none;
}

.panel.active {
  display: block;
}

.select_folder {
  min-width: 200px;
}
