/* This is a sample of the custom properties set by vscode on the webview */
:root{
--vscode-activityBar-background:#ededf5;
--vscode-activityBar-dropBackground:rgba(255, 255, 255, 0.12);
--vscode-activityBar-foreground:#705697;
--vscode-activityBar-inactiveForeground:rgba(112, 86, 151, 0.6);
--vscode-activityBarBadge-background:#705697;
--vscode-activityBarBadge-foreground:#ffffff;
--vscode-badge-background:rgba(112, 86, 151, 0.67);
--vscode-badge-foreground:#333333;
--vscode-breadcrumb-activeSelectionForeground:#4e4e4e;
--vscode-breadcrumb-background:#f5f5f5;
--vscode-breadcrumb-focusForeground:#4e4e4e;
--vscode-breadcrumb-foreground:rgba(97, 97, 97, 0.8);
--vscode-breadcrumbPicker-background:#f3f3f3;
--vscode-button-background:#705697;
--vscode-button-foreground:#ffffff;
--vscode-button-hoverBackground:#5a4579;
--vscode-debugExceptionWidget-background:#f1dfde;
--vscode-debugExceptionWidget-border:#a31515;
--vscode-debugToolBar-background:#f3f3f3;
--vscode-descriptionForeground:#717171;
--vscode-diffEditor-insertedTextBackground:rgba(155, 185, 85, 0.2);
--vscode-diffEditor-removedTextBackground:rgba(255, 0, 0, 0.2);
--vscode-dropdown-background:#f5f5f5;
--vscode-dropdown-border:#cecece;
--vscode-editor-background:#f5f5f5;
--vscode-editor-findMatchBackground:#bf9cac;
--vscode-editor-findMatchHighlightBackground:#edc9d8;
--vscode-editor-findRangeHighlightBackground:rgba(180, 180, 180, 0.3);
--vscode-editor-focusedStackFrameHighlightBackground:rgba(206, 231, 206, 0.45);
--vscode-editor-font-family:-apple-system, system-ui, sans-serif;
--vscode-editor-font-size:13px;
--vscode-editor-font-weight:400;
--vscode-editor-foreground:#333333;
--vscode-editor-hoverHighlightBackground:rgba(173, 214, 255, 0.15);
--vscode-editor-inactiveSelectionBackground:rgba(201, 208, 217, 0.5);
--vscode-editor-lineHighlightBackground:#e4f6d4;
--vscode-editor-lineHighlightBorder:#eeeeee;
--vscode-editor-rangeHighlightBackground:rgba(253, 255, 0, 0.2);
--vscode-editor-selectionBackground:#c9d0d9;
--vscode-editor-selectionHighlightBackground:rgba(224, 228, 234, 0.6);
--vscode-editor-snippetFinalTabstopHighlightBorder:rgba(10, 50, 100, 0.5);
--vscode-editor-snippetTabstopHighlightBackground:rgba(10, 50, 100, 0.2);
--vscode-editor-stackFrameHighlightBackground:rgba(255, 255, 102, 0.45);
--vscode-editor-wordHighlightBackground:rgba(87, 87, 87, 0.25);
--vscode-editor-wordHighlightStrongBackground:rgba(14, 99, 156, 0.25);
--vscode-editorActiveLineNumber-foreground:#0b216f;
--vscode-editorBracketMatch-background:rgba(0, 100, 0, 0.1);
--vscode-editorBracketMatch-border:#b9b9b9;
--vscode-editorCodeLens-foreground:#999999;
--vscode-editorCursor-foreground:#54494b;
--vscode-editorError-foreground:#d60a0a;
--vscode-editorGroup-border:#e7e7e7;
--vscode-editorGroup-dropBackground:rgba(201, 208, 217, 0.53);
--vscode-editorGroupHeader-noTabsBackground:#f5f5f5;
--vscode-editorGroupHeader-tabsBackground:#f3f3f3;
--vscode-editorGutter-addedBackground:#81b88b;
--vscode-editorGutter-background:#f5f5f5;
--vscode-editorGutter-commentRangeForeground:#c5c5c5;
--vscode-editorGutter-deletedBackground:#ca4b51;
--vscode-editorGutter-modifiedBackground:#66afe0;
--vscode-editorHint-foreground:#6c6c6c;
--vscode-editorHoverWidget-background:#f3f3f3;
--vscode-editorHoverWidget-border:#c8c8c8;
--vscode-editorHoverWidget-statusBarBackground:#e7e7e7;
--vscode-editorIndentGuide-activeBackground:#aaaaaa;
--vscode-editorIndentGuide-background:#aaaaaa;
--vscode-editorInfo-foreground:#008000;
--vscode-editorLineNumber-activeForeground:#9769dc;
--vscode-editorLineNumber-foreground:#6d705b;
--vscode-editorLink-activeForeground:#0000ff;
--vscode-editorMarkerNavigation-background:#ffffff;
--vscode-editorMarkerNavigationError-background:#d60a0a;
--vscode-editorMarkerNavigationInfo-background:#008000;
--vscode-editorMarkerNavigationWarning-background:#117711;
--vscode-editorOverviewRuler-addedForeground:rgba(0, 122, 204, 0.6);
--vscode-editorOverviewRuler-border:rgba(127, 127, 127, 0.3);
--vscode-editorOverviewRuler-bracketMatchForeground:#a0a0a0;
--vscode-editorOverviewRuler-commonContentForeground:rgba(96, 96, 96, 0.4);
--vscode-editorOverviewRuler-currentContentForeground:rgba(64, 200, 174, 0.5);
--vscode-editorOverviewRuler-deletedForeground:rgba(0, 122, 204, 0.6);
--vscode-editorOverviewRuler-errorForeground:rgba(255, 18, 18, 0.7);
--vscode-editorOverviewRuler-findMatchForeground:rgba(246, 185, 77, 0.7);
--vscode-editorOverviewRuler-incomingContentForeground:rgba(64, 166, 255, 0.5);
--vscode-editorOverviewRuler-infoForeground:rgba(18, 18, 136, 0.7);
--vscode-editorOverviewRuler-modifiedForeground:rgba(0, 122, 204, 0.6);
--vscode-editorOverviewRuler-rangeHighlightForeground:rgba(0, 122, 204, 0.6);
--vscode-editorOverviewRuler-selectionHighlightForeground:rgba(160, 160, 160, 0.8);
--vscode-editorOverviewRuler-warningForeground:rgba(18, 136, 18, 0.7);
--vscode-editorOverviewRuler-wordHighlightForeground:rgba(160, 160, 160, 0.8);
--vscode-editorOverviewRuler-wordHighlightStrongForeground:rgba(192, 160, 192, 0.8);
--vscode-editorPane-background:#f5f5f5;
--vscode-editorRuler-foreground:#d3d3d3;
--vscode-editorSuggestWidget-background:#f3f3f3;
--vscode-editorSuggestWidget-border:#c8c8c8;
--vscode-editorSuggestWidget-foreground:#333333;
--vscode-editorSuggestWidget-highlightForeground:#9769dc;
--vscode-editorSuggestWidget-selectedBackground:#cadeb9;
--vscode-editorUnnecessaryCode-opacity:rgba(0, 0, 0, 0.47);
--vscode-editorWarning-foreground:#117711;
--vscode-editorWhitespace-foreground:#aaaaaa;
--vscode-editorWidget-background:#f3f3f3;
--vscode-editorWidget-border:#c8c8c8;
--vscode-errorForeground:#f1897f;
--vscode-extensionButton-prominentBackground:#327e36;
--vscode-extensionButton-prominentForeground:#ffffff;
--vscode-extensionButton-prominentHoverBackground:#28632b;
--vscode-focusBorder:#a6b39b;
--vscode-foreground:#616161;
--vscode-gitDecoration-addedResourceForeground:#587c0c;
--vscode-gitDecoration-conflictingResourceForeground:#6c6cc4;
--vscode-gitDecoration-deletedResourceForeground:#ad0707;
--vscode-gitDecoration-ignoredResourceForeground:#8e8e90;
--vscode-gitDecoration-modifiedResourceForeground:#895503;
--vscode-gitDecoration-submoduleResourceForeground:#1258a7;
--vscode-gitDecoration-untrackedResourceForeground:#007100;
--vscode-gitlens-gutterBackgroundColor:rgba(0, 0, 0, 0.05);
--vscode-gitlens-gutterForegroundColor:#747474;
--vscode-gitlens-gutterUncommittedForegroundColor:rgba(0, 188, 242, 0.6);
--vscode-gitlens-lineHighlightBackgroundColor:rgba(0, 188, 242, 0.2);
--vscode-gitlens-lineHighlightOverviewRulerColor:rgba(0, 188, 242, 0.6);
--vscode-gitlens-trailingLineBackgroundColor:rgba(0, 0, 0, 0);
--vscode-gitlens-trailingLineForegroundColor:rgba(153, 153, 153, 0.35);
--vscode-input-background:#ffffff;
--vscode-input-foreground:#616161;
--vscode-input-placeholderForeground:rgba(97, 97, 97, 0.5);
--vscode-inputOption-activeBorder:#adafb7;
--vscode-inputValidation-errorBackground:#ffeaea;
--vscode-inputValidation-errorBorder:#f1897f;
--vscode-inputValidation-infoBackground:#f2fcff;
--vscode-inputValidation-infoBorder:#4ec1e5;
--vscode-inputValidation-warningBackground:#fffee2;
--vscode-inputValidation-warningBorder:#ffe055;
--vscode-list-activeSelectionBackground:#c4d9b1;
--vscode-list-activeSelectionForeground:#6c6c6c;
--vscode-list-dropBackground:#cadeb9;
--vscode-list-errorForeground:#b01011;
--vscode-list-focusBackground:#cadeb9;
--vscode-list-highlightForeground:#9769dc;
--vscode-list-hoverBackground:#e0e0e0;
--vscode-list-inactiveFocusBackground:#d8dae6;
--vscode-list-inactiveSelectionBackground:#d3dbcd;
--vscode-list-invalidItemForeground:#b89500;
--vscode-list-warningForeground:#117711;
--vscode-listFilterWidget-background:#efc1ad;
--vscode-listFilterWidget-noMatchesOutline:#be1100;
--vscode-listFilterWidget-outline:rgba(0, 0, 0, 0);
--vscode-menu-background:#f5f5f5;
--vscode-menu-foreground:#616161;
--vscode-menu-selectionBackground:#c4d9b1;
--vscode-menu-selectionForeground:#6c6c6c;
--vscode-menu-separatorBackground:#888888;
--vscode-menubar-selectionBackground:rgba(0, 0, 0, 0.1);
--vscode-menubar-selectionForeground:#333333;
--vscode-merge-commonContentBackground:rgba(96, 96, 96, 0.16);
--vscode-merge-commonHeaderBackground:rgba(96, 96, 96, 0.4);
--vscode-merge-currentContentBackground:rgba(64, 200, 174, 0.2);
--vscode-merge-currentHeaderBackground:rgba(64, 200, 174, 0.5);
--vscode-merge-incomingContentBackground:rgba(64, 166, 255, 0.2);
--vscode-merge-incomingHeaderBackground:rgba(64, 166, 255, 0.5);
--vscode-notificationCenterHeader-background:#e7e7e7;
--vscode-notificationLink-foreground:#006ab1;
--vscode-notifications-background:#f3f3f3;
--vscode-notifications-border:#e7e7e7;
--vscode-panel-background:#f5f5f5;
--vscode-panel-border:rgba(128, 128, 128, 0.35);
--vscode-panel-dropBackground:rgba(38, 119, 203, 0.18);
--vscode-panelTitle-activeBorder:rgba(128, 128, 128, 0.35);
--vscode-panelTitle-activeForeground:#424242;
--vscode-panelTitle-inactiveForeground:rgba(66, 66, 66, 0.75);
--vscode-peekView-border:#705697;
--vscode-peekViewEditor-background:#f2f8fc;
--vscode-peekViewEditor-matchHighlightBackground:#c2dfe3;
--vscode-peekViewEditorGutter-background:#f2f8fc;
--vscode-peekViewResult-background:#f2f8fc;
--vscode-peekViewResult-fileForeground:#1e1e1e;
--vscode-peekViewResult-lineForeground:#646465;
--vscode-peekViewResult-matchHighlightBackground:#93c6d6;
--vscode-peekViewResult-selectionBackground:rgba(51, 153, 255, 0.2);
--vscode-peekViewResult-selectionForeground:#6c6c6c;
--vscode-peekViewTitle-background:#f2f8fc;
--vscode-peekViewTitleDescription-foreground:rgba(108, 108, 108, 0.7);
--vscode-peekViewTitleLabel-foreground:#333333;
--vscode-pickerGroup-border:#749351;
--vscode-pickerGroup-foreground:#a6b39b;
--vscode-progressBar-background:#705697;
--vscode-scrollbar-shadow:#dddddd;
--vscode-scrollbarSlider-activeBackground:rgba(0, 0, 0, 0.6);
--vscode-scrollbarSlider-background:rgba(100, 100, 100, 0.4);
--vscode-scrollbarSlider-hoverBackground:rgba(100, 100, 100, 0.7);
--vscode-selection-background:#c9d0d9;
--vscode-settings-checkboxBackground:#f5f5f5;
--vscode-settings-checkboxBorder:#cecece;
--vscode-settings-dropdownBackground:#f5f5f5;
--vscode-settings-dropdownBorder:#cecece;
--vscode-settings-dropdownListBorder:#c8c8c8;
--vscode-settings-headerForeground:#444444;
--vscode-settings-modifiedItemIndicator:#66afe0;
--vscode-settings-numberInputBackground:#ffffff;
--vscode-settings-numberInputForeground:#616161;
--vscode-settings-textInputBackground:#ffffff;
--vscode-settings-textInputForeground:#616161;
--vscode-sideBar-background:#f2f2f2;
--vscode-sideBar-dropBackground:rgba(0, 0, 0, 0.1);
--vscode-sideBarSectionHeader-background:#ede8ef;
--vscode-statusBar-background:#705697;
--vscode-statusBar-debuggingBackground:#705697;
--vscode-statusBar-debuggingForeground:#ffffff;
--vscode-statusBar-foreground:#ffffff;
--vscode-statusBar-noFolderBackground:#705697;
--vscode-statusBar-noFolderForeground:#ffffff;
--vscode-statusBarItem-activeBackground:rgba(255, 255, 255, 0.18);
--vscode-statusBarItem-hostBackground:#388a34;
--vscode-statusBarItem-hoverBackground:rgba(255, 255, 255, 0.12);
--vscode-statusBarItem-prominentBackground:#388a34;
--vscode-statusBarItem-prominentHoverBackground:#369432;
--vscode-tab-activeBackground:#f5f5f5;
--vscode-tab-activeForeground:#333333;
--vscode-tab-activeModifiedBorder:#33aaee;
--vscode-tab-border:#f3f3f3;
--vscode-tab-inactiveBackground:#ececec;
--vscode-tab-inactiveForeground:rgba(51, 51, 51, 0.7);
--vscode-tab-inactiveModifiedBorder:rgba(51, 170, 238, 0.5);
--vscode-tab-unfocusedActiveForeground:rgba(51, 51, 51, 0.7);
--vscode-tab-unfocusedActiveModifiedBorder:rgba(51, 170, 238, 0.7);
--vscode-tab-unfocusedInactiveForeground:rgba(51, 51, 51, 0.35);
--vscode-tab-unfocusedInactiveModifiedBorder:rgba(51, 170, 238, 0.25);
--vscode-terminal-ansiBlack:#000000;
--vscode-terminal-ansiBlue:#0451a5;
--vscode-terminal-ansiBrightBlack:#666666;
--vscode-terminal-ansiBrightBlue:#0451a5;
--vscode-terminal-ansiBrightCyan:#0598bc;
--vscode-terminal-ansiBrightGreen:#14ce14;
--vscode-terminal-ansiBrightMagenta:#bc05bc;
--vscode-terminal-ansiBrightRed:#cd3131;
--vscode-terminal-ansiBrightWhite:#a5a5a5;
--vscode-terminal-ansiBrightYellow:#b5ba00;
--vscode-terminal-ansiCyan:#0598bc;
--vscode-terminal-ansiGreen:#00bc00;
--vscode-terminal-ansiMagenta:#bc05bc;
--vscode-terminal-ansiRed:#cd3131;
--vscode-terminal-ansiWhite:#555555;
--vscode-terminal-ansiYellow:#949800;
--vscode-terminal-background:#f5f5f5;
--vscode-terminal-border:rgba(128, 128, 128, 0.35);
--vscode-terminal-foreground:#333333;
--vscode-terminal-selectionBackground:rgba(0, 0, 0, 0.25);
--vscode-textBlockQuote-background:rgba(127, 127, 127, 0.1);
--vscode-textBlockQuote-border:rgba(0, 122, 204, 0.5);
--vscode-textCodeBlock-background:rgba(220, 220, 220, 0.4);
--vscode-textLink-activeForeground:#006ab1;
--vscode-textLink-foreground:#006ab1;
--vscode-textPreformat-foreground:#a31515;
--vscode-textSeparator-foreground:rgba(0, 0, 0, 0.18);
--vscode-titleBar-activeBackground:#c4b7d7;
--vscode-titleBar-activeForeground:#333333;
--vscode-titleBar-inactiveBackground:rgba(196, 183, 215, 0.6);
--vscode-titleBar-inactiveForeground:rgba(51, 51, 51, 0.6);
--vscode-walkThrough-embeddedEditorBackground:rgba(0, 0, 0, 0.08);
--vscode-widget-shadow:#a8a8a8;
}
