# Prevent preinstall, install, postinstall scripts from running by default
ignore-scripts = true

# Show any output of scripts in the console
foreground-scripts = true

# Wait a minimum of 2 days before allowing a package to be released, this is to allow time for any issues to be discovered and fixed before the package is released
min-release-age = 2

# Exempt specific packages (e.g., trusted internal orgs or urgent fixes)
min-release-age-exclude=@cspell/*,cspell,cspell-*,inject-markdown
