.pnp.js
.vscode
.vscode-test
.vscode/
.yarn
[tT]emp/
*.d.ts
**/*.lock
**/*.log
**/*.mdx
**/*.schema.json
**/dist/
**/scripts/ts-json-schema-generator.cjs
**/yarn.lock
CHANGELOG.md
coverage
node_modules
package-lock.json
packages/_integrationTests/out/
packages/*/dist/
packages/*/out/**
packages/webview-ui/public/build
samples/php/**/vendor
website/.docusaurus
website/**/auto_*
website/**/commands.md
website/**/configuration.md
website/build/**
website/docs/configuration/index.md
website/node_modules
