.pnp.js
.vscode
.vscode-test
.vscode/
[tT]emp/
*.d.ts
**/dist/
**/yarn.lock
CHANGELOG.md
coverage
node_modules
packages/_integrationTests/out/
packages/*/dist/
packages/*/out/**
.yarn
samples/php/**/vendor
**/scripts/ts-json-schema-generator.cjs
package-lock.json
packages/webview-ui/public/build
**/*.schema.json
**/*.lock
**/*.log
website/build/**
website/node_modules
website/.docusaurus
website/**/configuration.md
website/**/commands.md
website/**/auto_*
