.pnp.js
.vscode
.vscode-test
.vscode/
[tT]emp/
*.d.ts
**/dist/
**/yarn.lock
CHANGELOG.md
coverage
docs/_site
node_modules
packages/_integrationTests/out/
packages/_server/spell-checker-config.schema.json
packages/*/dist/
packages/client/settingsViewer/
samples/php/**/vendor
tsconfig*.json
