# Ignore everything
*
*/**
**/.DS_Store

# Bring back the things we need.
!CHANGELOG.md
!images/SpellCheck.png
!LICENSE

# Include root level items
!cspell.code-snippets

# Always Exclude - but doesn't work
**/*.d.ts
**/*.map

# Include the schema
!node_modules/@cspell/cspell-types/cspell.schema.json

# Dictionaries cannot be WebPacked
!node_modules/@cspell/cspell-bundled-dicts/**
!node_modules/@cspell/dict*/**

# Regexp worker must NOT be WebPacked
!node_modules/regexp-worker/*
!node_modules/regexp-worker/lib/**/*.js

# Do not WebPack import-fresh and dependencies
# This is needed to support cosmiconfig
!node_modules/import-fresh/**
!node_modules/resolve-from/**
!node_modules/parent-module/**
!node_modules/callsites/**

# All Other Client and Server files.
!packages/_server/dist/api.js
!packages/_server/dist/main.js
!packages/_server/dist/main.js.LICENSE.txt
!packages/_server/package.json

!packages/_serverPatternMatcher/dist/api.js
!packages/_serverPatternMatcher/dist/main.js
!packages/_serverPatternMatcher/dist/main.js.LICENSE.txt
!packages/_serverPatternMatcher/package.json

!packages/client/dist/**/*.{js,LICENSE.txt}
!packages/client/License.txt
!packages/client/package.json
!packages/client/settingsViewer/webapp/*.{js,html,LICENSE.txt}
!resources/**

# cspell:ignore callsites
