head
    link(href='file://' + templateDir + '/mdl/material.min.css', rel='stylesheet')
    style(type='text/css').
        html>body {
            font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
            background-color: #FAFAFA;
            color: #111111;
            padding: 0;
            margin: 0;
        }
        .logo {
            vertical-align: center;
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }
        .hidden {
            display: none;
        }
        .align-top {
            vertical-align: top;
        }
        .align-left {
            text-align: left;
        }
        .align-center {
            text-align: center;
        }
        th.align-left {
            text-align: left;
        }
        td.align-left {
            text-align: left;
        }
        .min-40 {
            min-width: 40px;
        }
    include material-icons.css.pug

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script.
        function triggerLang(checked) {
            var linkId = checked ? 'enableLang' : 'disableLang';
            document.getElementById(linkId).click();
        }
        function triggerLocalChange(elem) {
            callCommand(elem.checked ? elem.dataset.linkEnable : elem.dataset.linkDisable);
        }
        function callCommand(commandURI) {
            const id = 'local-link';
            const elem = document.getElementById(id);
            elem.setAttribute('href', commandURI);
            elem.click();
        }
    script(src='file://' + templateDir + '/mdl/material.min.js' defer)
    script(src='file://' + templateDir + '/js/jquery-3.2.1.min.js')
    script.
        $(() => {
            $("body").on("click", "a[data-link]", function() {
                callCommand(this.dataset.link);
            });
        });
