head
    link(href=templateDir + '/mdl/material.min.css', rel='stylesheet')
    script(src=templateDir + '/mdl/material.js')
    style(type='text/css').
        html>body {
            font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
            background-color: #FAFAFA;
            color: #111111;
        }
        .logo {
            vertical-align: center;
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }
        .hidden {
            display: none;
        }
        .align-top {
            vertical-align: top;
        }
        .align-left {
            text-align: left;
        }
        .align-center {
            text-align: center;
        }
        th.align-left {
            text-align: left;
        }
    script.
        function triggerLang(checked) {
            var linkId = checked ? 'enableLang' : 'disableLang';
            document.getElementById(linkId).click();
        }
        function triggerLocalChange(elem) {
            triggerToggle('local-link', elem.checked, elem.dataset.linkEnable, elem.dataset.linkDisable);
        }
        function triggerToggle(id, checked, enableLink, disableLink) {
            var elem = document.getElementById(id);
            elem.setAttribute('href', checked ? enableLink : disableLink);
            elem.click();
        }
