head
    link(href='file://' + templateDir + '/mdl/material.min.css', rel='stylesheet')
    style(type='text/css').
        html>body {
            font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
            background-color: #FAFAFA;
            color: #111111;
            padding: 0;
            margin: 0;
        }
        html>body.vscode-dark {
            background-color: #111111;
            color: #FAFAFA;
        }
        body.vscode-dark .mdl-list__item {
            color: rgba(255,255,255,0.87) !important;
        }
        body.vscode-dark .mdl-data-table {
            background-color: #222222
        }
        body.vscode-dark .mdl-data-table th {
            color: rgba(255,255,255,0.54) !important;
        }
        body.vscode-dark .mdl-data-table tbody tr:hover {
            background-color: #444
        }
        body.vscode-dark .mdl-switch__track {
            background-color: #666
        }
        body.vscode-dark .mdl-data-table td {
            border-top: 1px solid rgba(255,255,255,.12);
            border-bottom: 1px solid rgba(255,255,255,.12);
        }
        html>body.vscode-high-contrast {
            background-color: #000;
            color: #FFF;
        }
        body.vscode-high-contrast .mdl-list__item {
            color: rgba(255,255,255,0.87) !important;
        }
        body.vscode-high-contrast .mdl-data-table {
            background-color: #111
        }
        body.vscode-high-contrast .mdl-data-table th {
            color: #999 !important;
        }
        body.vscode-high-contrast .mdl-data-table tr:hover th {
            border-top: 0px solid orange;
            border-bottom: 2px solid orange;
            background-color: #000;
            color: #999 !important;
        }
        body.vscode-high-contrast .mdl-switch__track {
            background-color: #666
        }
        body.vscode-high-contrast .mdl-data-table tr:hover {
            border-bottom: 2px solid orange;
            background-color: #000;
        }
        body.vscode-high-contrast .mdl-data-table tr:hover td {
            border-top: 2px solid orange;
            border-bottom: 2px solid orange;
            background-color: #000;
        }
        body.vscode-high-contrast .mdl-data-table tr td {
            border-top: 2px solid #222;
            border-bottom: 2px solid #222;
        }
        .language {
            font-size: 15px;
            front-weight: 600;
        }
        .info {
            font-size: 11px;
            front-weight: 400;
        }
        .logo {
            vertical-align: center;
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }
        .hidden {
            display: none;
        }
        .align-top {
            vertical-align: top;
        }
        .align-left {
            text-align: left;
        }
        .align-center {
            text-align: center;
        }
        th.align-left {
            text-align: left;
        }
        td.align-left {
            text-align: left;
        }
        .min-40 {
            min-width: 40px;
        }
    include material-icons.css.pug

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script.
        function triggerLang(checked) {
            var linkId = checked ? 'enableLang' : 'disableLang';
            document.getElementById(linkId).click();
        }
        function triggerLocalChange(elem) {
            callCommand(elem.checked ? elem.dataset.linkEnable : elem.dataset.linkDisable);
        }
        function callCommand(commandURI) {
            const id = 'local-link';
            const elem = document.getElementById(id);
            elem.setAttribute('href', commandURI);
            elem.click();
        }
        function hideRow(elem) {
            $(elem).closest("tr").css("display", "none")
        }
    script(src='file://' + templateDir + '/mdl/material.min.js' defer)
    script(src='file://' + templateDir + '/js/jquery-3.2.1.min.js')
    script.
        $(() => {
            $("body").on("click", "a[data-link]", function() {
                callCommand(this.dataset.link);
            });
        });
