div.mdl-cell.mdl-cell--12-col.mdl-grid
    h3 Issues:
    div.mdl-cell
        if spellingErrors
            if spellingErrors.length
                ul
                    each val in spellingErrors.slice(0,200)
                        li= `${val[0]} (${val[1]})`
            else
                b None!
        else
            b Analyzing...
