doctype html
html
    include head.pug
    body
        div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header.mdl-layout__header
                div.mdl-layout__header-row
                    // Title
                    span.mdl-layout-title Title
                    // Add spacer, to align navigation to the right
                    div.mdl-layout-spacer
                    // Navigation. We hide it in small screens.
                    nav.mdl-navigation
                        a.mdl-navigation__link( href="#") Link
                        a.mdl-navigation__link( href="#") Link
                        a.mdl-navigation__link( href="#") Link
                        a.mdl-navigation__link( href="#") Link
            main.mdl-layout__content
                div.mdl-grid
                    div.mdl-cell.mdl-cell--12-col.mdl-grid
                        h2
                            img.logo(src='file://'+ imagesPath +'/SpellCheck.png')
                            | Information
                div.mdl-grid
                    block locals
                    block fileInfo
                    block issues
        script(src=templateDir + '/mdl/material.min.js')
