doctype html
html
    include head.pug
    body(class={useDarkTheme: useDarkTheme})
        div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header.mdl-layout__header
                div.mdl-layout__tab-bar.mdl-js-ripple-effect
                    a.mdl-layout__tab(class={"is-active": activeTab == "LocalInfo"}  href="#LocalInfo"  data-link=genSelectInfoTabLink('LocalInfo'))  Language
                    a.mdl-layout__tab(class={"is-active": activeTab == "FileInfo"}   href="#FileInfo"   data-link=genSelectInfoTabLink('FileInfo'))   File Info
                    a.mdl-layout__tab(class={"is-active": activeTab == "IssuesInfo"} href="#IssuesInfo" data-link=genSelectInfoTabLink('IssuesInfo')) Issues
            main.mdl-layout__content
                section.mdl-layout__tab-panel#LocalInfo(class={"is-active": activeTab == "LocalInfo"})
                    div.page-content
                        div.mdl-grid
                            block locals
                section.mdl-layout__tab-panel#FileInfo(class={"is-active": activeTab == "FileInfo"})
                    div.page-content
                        div.mdl-grid
                            block fileInfo
                section.mdl-layout__tab-panel#IssuesInfo(class={"is-active": activeTab == "IssuesInfo"})
                    div.page-content
                        div.mdl-grid
                            block issues

