div.mdl-cell.mdl-cell--12-col.mdl-grid
    h2
        img.logo(src='file://'+ imagesPath +'/SpellCheck.png')
        | Dictionaries
    table.mdl-data-table.mdl-cell--12-col
        tr
            th Dictionary
            th.align-left Description
        each dict in dictionaries
            tr
                td
                    span= dict.name
                td.mdl-data-table__cell--non-numeric
                    span= dict.description

