<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <iframe width="860" height="1080" frameborder="5px" src="index.html?{{webpack.hash}}"></iframe>
  </body>
</html>
