name: "Integration Tests"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        node-version: [14.x]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Install Node.js
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn --frozen-lockfile
      - run: xvfb-run -a yarn run test-client-integration
        if: runner.os == 'Linux'
      - run: yarn run test-client-integration
        if: runner.os != 'Linux'
# cspell:ignore xvfb
