name: lint docs
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
    paths:
      - "docs/**"

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - run: npx cspell "docs/**"

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - run: yarn lint-docs
